{layout='layouts/_global-layout'}

<hr>
   <h1>Forgot Username</h1>

{exp:member:forgot_username_form}

<div class="formGroup">
    <div class="formField">
        <label for="email">Your Email Address</label>
        <div>
            <input
                    type="email"
                    id="email"
                    name="email"
                    value=""
                    maxlength="120"
                    size="40"
                    required="required"
            >
            {if error:email}
            <div class="error">{error:email}</div>
            {/if}
        </div>
    </div>
</div>

<div class="formGroup">
    <div class="formField">
        <div>
            <input type="submit" name="submit" value="Submit">
        </div>
    </div>
</div>

{/exp:member:forgot_username_form}
