Hi {screen_name}
<hr>
{exp:channel:entries channel="household" dynamic="no"}

{related_parent_guardian}
{if related_parent_guardian:member_id == logged_in_member_id}
Hi you are ID {logged_in_member_id}<br>
    <div class="{related_parent_guardian:switch="one|two"} id="row-{related_parent_guardian:count}>
        <b>{related_parent_guardian:screen_name}</b>
        - Household: {title}
        - {related_parent_guardian:member_id}
        - Dibs Required: {dibs_required}
    </div>
    <div>Athletes:
    <ul>
        {student_athlete}
        <li>{student_athlete:student_name}</li>
    {/student_athlete}
    </ul>
    
{if:else}
 {/if}
    
{/related_parent_guardian}


{/exp:channel:entries}
<hr>
<a href="{path='logout'}">Log Out</a>