{layout='layouts/_global-layout'}

 <h2><i class="fa-solid fa-house"></i> Your Household Profile</h2>
{exp:channel:entries channel="household" dynamic="no" author_id="CURRENT_USER"}

<h4><i class="fa-solid fa-user"></i> Parent/Guardians</h4>
<ul>
{related_parent_guardian}
<li>{related_parent_guardian:screen_name}</li>
{/related_parent_guardian}
</ul>

{related_parent_guardian}
{if related_parent_guardian:member_id == logged_in_member_id}


    {if student_athlete}
<hr>
    <h4><i class="fa-solid fa-user-graduate"></i> Student Athletes</h4>
    <ul>
        {student_athlete}
        <li>{student_athlete:student_name}</li>
    {/student_athlete}
    </ul>
    {/if}
    
    {if:else}
        {!-- DO NOTHING --}
 {/if}
    
{/related_parent_guardian}

{if count == total_results}
        {!-- show edit form --}
        {embed="member/.edit-profile"
            theAuthorId="{exp:dibs:get_author url_title='{url_title}' channel_id='4'}"
            profileUrlTitle='{url_title}'}
{/if}

{/exp:channel:entries}
<hr>


{layout:set:append name='javascript'}

<script>
    $(function () {
        const baseUrl = 'https://dibs.mn/shifts/';

        function updateUrl() {
            const slug = $('#url_title').val().trim();
            const url  = baseUrl + slug;

            $('#generated_url')
                .attr('href', url)
                .text(url);
        }

        $('#copy_url').on('click', function (e) {
            e.preventDefault();

            const url = $('#generated_url').attr('href');

            navigator.clipboard.writeText(url).then(function () {
                $('#copy_status').show();
                setTimeout(() => $('#copy_status').hide(), 1500);
            });
        });

        updateUrl();
        $('#url_title').on('input', updateUrl);
    });
</script>


{/layout:set:append}