{layout='layouts/_global-layout'}

<hr>
   <h1>Login</h1>

    {if segment_3 == 'forgot-username'}
        <p>If this email address is associated with an account, an email containing your username has just been emailed to you.</p>
        <p>For security reasons, we cannot confirm if this email address matches an existing account.</p>
    {/if}


    {exp:member:login_form return="/shifts" inline_errors="yes"}

        {if error:general}
            <div class="error">{error:general}</div>
        {/if}

        <div class="formGroup">
            <div class="formField">
                <label for="username">Username </label>
                <div>
                    <input type="text" id="username" name="username" value="{if old:username}{old:username}{/if}" maxlength="32" size="25" required="required">
                    {if error:username}
                        <div class="error">{error:username}</div>
                    {/if}
                </div>
            </div>
        </div>

        <div class="formGroup">
            <div class="formField">
                <label   for="password">Password</label>
                <div>
                    <input type="password" id="password" name="password" value="" maxlength="32" size="25" required="required">
                    {if error:password}
                        <div class="error">{error:password}</div>
                    {/if}
                </div>
            </div>
        </div>

        {if auto_login}
            <div class="formGroup">
                <div class="formField">
                    <div></div>
                    <fieldset>
                        <legend class="visuallyHidden">Options</legend>
                        <input type="checkbox" id="auto_login" name="auto_login" value="1" class="customCheckbox"> <label for="auto_login">Auto-login on future visits</label>
                    </fieldset>
                </div>
            </div>
        {/if}

        <div class="formButtonsWrapper">
            <input type="submit" name="submit" value="Submit" class="button">
        </div>

        <div class="memberFormAdditionalLinks">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> <a href="{path='member/forgot-password'}">Forgot password?</a><br>
            <i class="fa-solid fa-arrow-right-from-bracket"></i> <a href="{path='member/forgot-username'}">Forgot username?</a>
        </div>

    {/exp:member:login_form}
