{exp:channel:entries channel="household" dynamic="no"
    author_id="{embed:theAuthorId}" require_entry="yes" }
{if '{embed:theAuthorId}' == 0}
{!-- do nothing --}
{if:else}
        <h2>{title} Household</h2>

<div class="summary" role="region" aria-labelledby="h">
    <h3 id="h" style="margin:0 0 4px;">Shifts Snapshot</h3>

    <!-- Values table -->
    <table aria-describedby="h">
        <tbody>
        <tr><th>Shifts Required</th><td><b>{shifts_required}</b></td></tr>
        </tbody>
    </table>

    <!-- Individual bars -->


    <div>
        <div class="label">Shifts Claimed ({exp:dibs:shifts_claimed author_id="{embed:theAuthorId}"} of {shifts_required})</div>
        <div class="bar-wrap">
            <div class="bar">
                <span class="fill claimed" style="width: calc({exp:dibs:shifts_claimed author_id="{embed:theAuthorId}"}/{shifts_required}*100%)"></span>
            </div>
        </div>
    </div>

    <div>
        <div class="label">Shifts Completed (3 of  {shifts_required})</div>
        <div class="bar-wrap">
            <div class="bar">
                <span class="fill completed" style="width: calc(3/{shifts_required}*100%)"></span>
            </div>
        </div>
    </div>
    <br>
</div>
{/if}
{/exp:channel:entries}
