{layout='layouts/_global-layout'}


{exp:channel:entries channel="household" dynamic="no"
author_id="{embed:theAuthorId}" require_entry="yes" }
    {layout:set name='title'} - {title}{/layout:set}
{/exp:channel:entries}

{if logged_in}
    {if !segment_2}
        {exp:channel:entries limit="1" author_id="CURRENT_USER"}
            HELLO EID {entry_id} {url_title}
                {redirect="/shifts/{url_title}"}
        {/exp:channel:entries}
    {/if}
{/if}
{!-- ################# HEADER --}



{embed="shifts/.header"
    theAuthorId="{exp:dibs:get_author url_title='{segment_2}' channel_id='4'}"
}

<hr>

{!-- ################# TABLE --}

{exp:query sql="select author_id as shift_author_id from exp_channel_titles
where url_title = '{segment_2}' and channel_id = 4"}

{if no_results}  No shift data currently available. {/if}

    {!-- embed table and pass the author id --}
    {embed="shifts/.shifts-table" theAuthorId="{shift_author_id}"}

{/exp:query}


