<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dibs.Mn</title>
    <link rel="stylesheet" href="/styles/dibs.css" />
</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">Dibs.Mn</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Shifts</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="container">
    <section>

    {layout:contents}

    </section>
</main>

<footer>
    <div class="container">
        <p>&copy; 2025 MySite. All rights reserved.</p>
    </div>
</footer>
</body>
</html>

